/* =================================
  Unused styles
==================================== */

/* For a background image that fills the entire page, doesn't repeat. */

/* html {
background: linear-gradient(to right, red, white, red) no-repeat center center fixed;
background: url('../images/tree.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/

/* =================================
  Base Element Styles
==================================== */

/* Avoids having padding or border width values expanding past 70% on mobile
 devices or 1000px on larger screens.

 Asterisk universal selector used so all
 elements inherit this property and won't break layout.

 Border-box forces padding and borders into the width and height of the elements.
 */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-self: stretch;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  color: orange;
  font-size: 46px;
}

h1 a:visited:hover:active {
  color: orange;
}

a {
  color: orange;
  text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.title {
  margin: 0;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 25px;
  background: lightblue;
  font-weight: bold;
}

.search-box,
.main-nav li {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.search-box {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-right: auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  font-weight: bold;
  font-size: 18px;
}

.main-nav a {
  padding: 15px;
  color: white;
}

/* ---- Layout Containers ---- */

/* Creates a header that spans the entire width of page. */
.main-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: black;
  margin-bottom: 30px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
}

/*.search-box,
.main-nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px 15px;
}

/* Padding separates the container from the left and right margins of the page.
Added here so all screens and devices share this property. */
.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}

/* Creates a footer that spans the entire width of page. */
.main-footer {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 2em 0;
  color: orange;
  font-weight: bold;
  background: lightgrey;
}

/* ---- Page Elements ---- */

h2 {
  color: orange;
  margin: 0em 0em 0em 3em;
}

a .button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

.fake-button {
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 25px;
  display: inline-flex;
  background: orange;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.fake-button a:visited:hover:active {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.5em 3em 0em 3em;
}

table a {
  font-weight: bold;
  color: green;
  text-decoration: none;
}

td,
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid black;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.list-content {
  width: 100%;
  box-sizing: border-box;
}


/* =================================
  Base Element Styles
==================================== */
@media (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background: hotpink;
  }

  .search-box {
    flex-direction: column;
    margin: 0.2em;
  }

  .main-nav {
    flex-direction: column;
    margin: 0.2em;
    background: hotpink;
  }

  .main-footer {
    display: flex;
    align-content: flex-end;
    align-self: stretch;
  }
}

@media (min-width: 769px) {
/* Force footer to stay at bottom of viewport.
   vh = viewport height; a viewport-relative unit, allows sizing based on height of browser viewport.
   1vh = 1% of viewport height.
*/

  body {
    padding: 285.85px 0 0 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end | space-around;
    align-self: stretch;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    background: hotpink;
  }
  /*.wrap {
    min-height: calc(100vh - 113.75px);    /* Calc function used to subtract footer height from 100% of viewport height to avoid vertical scroll bar (mostly). */
 /* }

/* Leaves white space around main content so layout looks more open.
   In media query so on mobile devices doesn't leave too much space.*/
  .main-content {
    width: 70%;
    max-width: 1000px;  /* Keeps this container from getting too wide on larger screens */
    margin: 0 auto;
  }

/* Puts items in navigation menu all on same line for non-mobile devices. */
  .search-box,
  .main-nav li {
    display: flex;
    flex-direction: row;
  }

  .search-box {
    justify-content: flex-start;
    width: 50%
  }

/* Creates more separation between items in navagation bar */
  .main-nav li {
    margin-right: 12px;
  }

  .main-footer {
    align-self: stretch;
    /*position: fixed;
    width: 100%;
    bottom: 0;*/
  }

/*Keep container from collapsing if children float */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* =================================
  Profile Page
==================================== */
.profile-pic-info {
  display: inline;
  font-weight: bold;
  max-width: 100px;
  max-height: 100px;
}

.profile-content {
  display: inline;
  font-weight: bold;
}

.profile-pic {
  display: inline;
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

