{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<h2>Edit!</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="u-full-width">
    </div>
    <div class="u-full-width">
        {{ render_field(form.name) }}
    </div>
    <div class="u-full-width">
        {{ render_field(form.link) }}
    </div>
    <div class="u-full-width">
        <input type="submit" class="button-primary" value="Edit item!">
    </div>
</form>
{% endblock %}