<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/css/normalize.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/wishlist.css"> -->
</head>
{% from 'macros.html' import render_field %}
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <a class="navbar-brand " href="{{ url_for('index') }}">Wishlist!</a>

        <div class="collapse navbar-collapse" id="#navbarTogglerDemo02">
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('wishlist_create') }}">Create a List!<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">Profile!</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Sign in!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register!</a>
                </li>
            </ul>
            {% endif %}

            <form class="form-inline mt-2 mt-md-0" method="POST" action="{{ url_for('search') }}" method="post">
                <div class="input-group">
                {{ g.search_form.csrf_token }}
                {{ render_field(g.search_form.select) }}
                {{ render_field(g.search_form.search) }}
                <input class="form-control mr-sm-2 input-group-text" type="submit" placeholder="Search" aria-label="Search">
                <!-- <button class=" btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
      {% with messages=get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                <div class="container">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
  </header>
  <main role="main" class="container mt-5">
      <div class="starter-template mt-5">
          {% block content %}{% endblock %}
      </div>
  </main>

  <footer class="footer fixed-bottom bg-secondary text-white">
      <div class="container-fluid mt-1">
        <p class="text-center">I'm a footer.</p>
      </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
