{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<!-- <form method="POST" action="" class="form-signin">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="six columns">
            {{ render_field(form.email) }}
        </div>
        <div class="six columns">
            {{ render_field(form.password) }}
        </div>
    </div>
    <div class="u-full-width">
        <input type="submit" class="button-primary" value="Log In!">
    </div>
</form> -->

<div class="text-center">
    <form method="POST" action="" class="form-signin">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" >
    </form>
</div>
{% endblock %}